/* ============ Global ============ */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container {margin: auto; padding-left: 15px; padding-right: 15px;}
body {font-family: 'Droid Sans', sans-serif;}

/* ============ Nav ============ */
nav {
    padding: 18px;
    color: #ccc;
    background-color: #333;
    position: fixed;
    z-index: 999;
    width: 100%;
    overflow: hidden;
}
nav a.mobileMenu {text-decoration: none;}
nav a.mobileMenu .icons {width: 25px; overflow: hidden;}
nav a.mobileMenu span {
    width: 100%;
    display: block;
    border: 2px solid #fff;
    margin-top: 2px;
    border-radius: 5px;
}
nav .brand a {text-decoration: none; color: #ffc7c1; font-size: 20px;}
nav .navbar li {
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
    padding-top: 3px;
    font-size: 15px;
}
nav .navbar li a {text-decoration: none; color: #ccc;}
nav .navbar li span {border-bottom: 1px solid transparent; padding-bottom: 3px;}
nav .navbar li.active span,
nav .navbar li:hover span {border-bottom: 2px solid #ffc7c1;}
nav .navbar li.active a,
nav .navbar li:hover a{color: #fff}


/* ============ Header ============ */
header {
    background: url('../images/header.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 500px;
    position: relative;
}

header .overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,.5);
}

header h1 {font-size: 60px; margin-top: 100px;}

header .plan {
    border: 4px solid #fff;
    font-size: 24px;
    width: 48%;
    padding: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

header .order {
    border: 4px solid #fff;
    font-size: 24px;
    padding: 20px;
    margin: 30px 1% 0;
}

/* ============ Features ============ */
.features {overflow: hidden; padding: 15px 0; color: #666; background-color: #fffff8;}
.features .h1 {color: #555; margin-top: 10px;}
.features .feat {padding: 0 20px 0 0; margin-bottom: 10px;}
.features .feat h2 {margin-top: 0; margin-bottom: 0;}
.features .feat p {line-height: 1.6; margin: 7px 0;}

/* ============ OurWorks ============ */
.ourWorks {background-color: #fff; overflow: hidden;}
.ourWorks .imgBox {
    box-shadow: 3px 3px 10px 5px #f0f8ff;
    -webkit-box-shadow: 3px 3px 10px 5px #f0f8ff;
    -moz-box-shadow: 3px 3px 10px 5px #f0f8ff;
}

/* ============ Testimonials ============ */
.testimonials {padding: 35px 0;}
.testimonials h2 {margin: 0 0 20px; color: #555;}
.testimonials .client {
    background-color: #eee;
    padding: 10px;
    margin: 0 0 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.testimonials .client:first-of-type {width: 70%; margin-right: 15%; margin-left: 15%}
.testimonials .client:not(:first-of-type) {width: 49%;}
.testimonials .client.last {margin-left: 2%;}
.testimonials .client .avatar {margin-right: 10px; width: 120px;}
.testimonials .client h3 {margin: 5px 0 0; color: #666;}
.testimonials .client p {width: calc(100% - 130px); margin: 10px 0;}

/* ============ Information ============ */
.information {background-color: #ececec; padding: 15px 0 30px;}
.information h2 {margin: 10px 0; color: #848484; margin-bottom: 30px;}
.information .infoList {width: 100%}
.information .infoList li {
    display: inline-block;
    padding: 12px;
    font-size: 18px;
    background-color: #ececec;
    color: #4c4646;
    cursor: pointer;
}
.information .infoList li.select {
    background-color: #fff;
    color: #ff6161;
    border-radius: 8px;
    font-weight: bold;
}
.information .infoContent > div {
    padding: 10px;
    background-color: #fff;
    line-height: 1.8;
    border-radius: 8px;
    color: #444;
}
.information .infoContent > div:not(:first-of-type) {display: none;}

/* ============ priceDiv ============ */
.priceDiv {
    padding: 35px 0;
    color: #fff;
    background-color: #444;
}
.priceDiv h2 {margin: 0 0 20px; font-size: 45px;}
.priceDiv .priceBox {
    border: 3px solid #fff;
    padding: 20px 0;
    position: relative;
}
.priceDiv .priceBox h3 {margin: 0 0 10px; font-size: 24px;}
.priceDiv .priceBox .price {
    display: inline-block;
    margin: 0 0 10px;
    color: #ffacac;
    font-size: 22px;
}
.priceDiv .priceBox ul {
    line-height: 2;
    font-size: 18px;
}

/* ============ AboutUs ============ */
.aboutUs {background-color: #ececec; padding: 15px 0;}
.aboutUs h2 {margin: 10px 0; color: #848484;}

/* ============ Footer ============ */
footer {color: #eee; background-color: #333; padding: 20px;}
footer .signature span {color: #a7f4fd;}

/* ============ My Framework ============ */
.text-center {text-align: center;}
.clearfix {clear: both;}
.floatL {float: left;}
.floatR {float: right;}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {display: none;}
/*mt3mltsh 3shan hya acln visible fe el asas: .hidden-xs,.hidden-sm,.hidden-md,.hidden-lg {display: block;}*/
.h1 {font-size: 2em;}
.para {line-height: 1.5; color: #777;}
.img-responsive {width: 100%;}
.img-circle {border-radius: 50%;}
.img-thumbnail {padding: 3px; border: 1px solid #ccc; background-color: #fff}
.list-unstyled {list-style: none; margin: 0; padding: 0;}
.displayBlock {display: block !important;}

/* ================ Mediaaaaa ================ */
/*for Mobile screen*/
@media (max-width: 767px) {
    header h1 {font-size: 40px;}
    header .plan {
        float: none;
        margin: 0 auto 20px;
        font-size: 20px;
    }
    .visible-xs {display: block !important;}
    .hidden-xs {display: none !important;}
    .features .feat {text-align: center; padding: 0;}
    .para {font-size: 16px; text-align: center;}
    .ourWorks .imgBox {width: 100%;}
    .priceDiv .priceBox {width: 100%; margin-bottom: 20px;}
    .testimonials .client {
        width: 100% !important;
        margin: auto !important;
        margin-bottom: 20px !important;
    }
    footer {font-size: 14px;}
    nav {padding: 10px;}
    nav .navbar {display: none;}
    nav .brand a {font-size: 16px;}
    nav .displayBlock {
        padding-top: 15px;
        width: 100%;
        text-align: center;
        float: left;
    }
    nav .navbar li span {padding-bottom: 1px;}
}
/*for Small screen only*/
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {display: block !important;}
    .hidden-sm {display: none !important;}
    .features .feat {width: 50%;}
    .para {font-size: 17px;}
    .testimonials .client:first-of-type {
        width: 100%;
        margin: auto !important;
        margin-bottom: 15px !important;
    }
    .testimonials .client:not(:first-of-type) .avatar {float: none; margin: auto;}
    .testimonials .client:not(:first-of-type) h3 {float: none; text-align: center; margin-top: 8px;}
    .testimonials .client:not(:first-of-type) p {width: 100%;}
}

/*for Medium screen only*/
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {display: block !important;}
    .hidden-md {display: none !important;}
}

/*for Small screen and more*/
@media (min-width: 768px) {
    .container {width: 750px;}
    .ourWorks .imgBox {width: 50%;}
    .priceDiv .priceBox {width: 100%; margin-bottom: 20px;}
}

/*for Medium screen and more*/
@media (min-width: 992px) {
    .container {width: 970px;}
    .features .feat {width: 33.3333%;}
    .para {font-size: 19px;}
    .ourWorks .imgBox {width: 33.33333%;}
    .priceDiv .priceBox {width: 32.66666666%; margin-bottom: 0;}
    .priceDiv .priceBox:not(.ultimate) {margin-right: 1%;}
    .priceDiv .priceBox.plus {left: calc(2*33.66666%);}
    .priceDiv .priceBox.ultimate {right: calc(2*33.66666%);}
}

/*for Large screen*/
@media (min-width: 1200px) {
    .container {width: 1170px;}
    .visible-lg {display: block !important;}
    .hidden-lg {display: none !important;}
    .ourWorks .imgBox {width: 25%;}
}

/*for very small screen*/
@media (max-width: 420px) {
    header h1 {margin-top: 20px;}
    .testimonials .client .avatar {float: none; margin: auto;}
    .testimonials .client h3 {float: none; text-align: center; margin-top: 8px;}
    .testimonials .client p {width: 100%;}
    footer {font-size: 12px;}
}

/*for Information section only*/
@media (max-width: 529px) {
    .information .infoList li {display: block;}
    footer .copyright,
    footer .signature {width: 80%; text-align: center;}
}
/*for ourwork only*/
@media (min-width: 400px) and (max-width: 767px) {
    .ourWorks .imgBox {width: 50%;}
}
